.notify {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  width: calc(100% - 2rem);
  max-width: 400px;
  min-height: 10px;
  background: #E8F8EB;
  border-radius: 10px;
  // border: 1px solid #E5E5E5;
  display: grid;
  grid-template-columns: 40px 1fr;
  color: #1AB837;
  z-index: 9999992;
  animation-delay: 4s;
  //   box-shadow: 1px 1px 4px 1px rgba(0, 63, 102, 0.15);
  padding: 1.5rem 1.5rem;

  animation: notify 4.1s ease-out 1;

  @keyframes notify {
    0% {
      transform: translateY(50px);
      opacity: 0.5;
    }
    10% {
      transform: translateY(0px);
      opacity: 1;
    }
    90% {
      transform: translateY(0px);
      opacity: 1;
    }
    100% {
      transform: translateY(80px);
      opacity: 0.3;
    }
  }
  &__message {
  
    p {
      font-family: inherit;
      font-weight: 500;
      font-size: 0.9rem;
      line-height: 1.2rem;
      margin-top: 0.2rem;
    }
  }


  &__failed {
    color: #DC2626;
    background-color: #FDECEC;

  }
}
